:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: #f7de1e8c;
    --second-modal-color: rgba(34, 34, 34, 0.699);
    --container-width: 1200px;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}

/* ///////// MENU HAMBURGUESA ////////////  */

.header{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}
.header h1{
    margin: 0 auto;
    text-align: center;
}
.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}
.panel{
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--second-modal-color);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(0, -100%);
    overflow-y: auto;
}
.panel.is-active{
transform: translate(0,0);
opacity: 1;
}

.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

#reloj{
    background-color: #222;
    color: rgb(25, 189, 25);
    padding: 3px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 20%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(129, 125, 127, 0.945);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/* ////////////////// eventos de teclado ////////////////// */

.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}
.stage.darkMode{
    background-color: white;
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
    border: 4px solid white;
    background-color: var(--main-color);
}
.ball.darkMode{
    border: 4px solid black;
    background-color: var(--main-color);
}

.empezoMundial{
    background-color: steelblue;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5%;
}


/* ////////////////// BTN SCROLL ////////////////// */

.scroll-top-btn{
    position: fixed;
    bottom: 1vh;
    right: 5vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 0;
    font-size: 2rem;
}
.scroll-top-btn:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

/* ////////////////// dark mode ////////////////// */

.btn-dark{
    position: fixed;
    bottom: 1vh;
    left: 5vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 0;
    font-size: 2rem;
    border: 1px solid white;
}
.btn-dark:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.darkMode{
    background-color: var(--second-color);
    color: var(--main-color);
}